:root {
  --light: #d8dbe0;
  --dark: #28292c;
  --btnLight: #f0f0f0;
  --btnDark: #606060;
  --green: #3bd16f;
  --purple: #5b0888;
}
* {
  margin: 0;
  padding: 0;
}

/*********** dark mode ***********/
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--dark);
  color: var(--light);
}
.title {
  color: var(--green);
  font-size: 2.75rem;
  text-align: center;
  text-transform: uppercase;
  padding: 50px 0;
}
.pleaseLogin {
  background: linear-gradient(110deg,rgba(59,209,111,1)20%, rgb(118, 232, 158)90%);
  color: var(--btnLight);
  text-align: center;
  font-weight: 900;
  width: 100%;
  padding: 25px;
  margin-left: 0;
}
.filter-select,
.form-select {
  width: 120px;
  height: 50px;
  background-color: var(--dark);
  color: var(--green);
  text-align: center;
  border-radius: 10px;
  border: var(--green) 1px solid;
  cursor: pointer;
}
/* login/register btn */
.logout-btn {
  margin: 20px;
}
.login-register-div {
  margin: 20px;
}
.login-register-div button, .logout-btn {
  width: 95px;
  padding: 12px 0;
  background-color: var(--green);
  box-shadow: 2px 1px var(--green);
  color: var(--dark);
  border: 2px solid var(--green);
  border-radius: 40px;
  font-weight: bold;
}
.login-register-div button:nth-child(2) {
  background-color: var(--btnDark);
  color: var(--light);
  margin-left: 15px;
}
.login-register-div button:hover, .logout-btn:hover {
  transform: scale(0.95);
  background-color: var(--btnDark);
  color: var(--green);
  cursor: pointer;
}

/* form */
.success-msg {
  text-align: center;
}
.btn-form-hide {
  display: none;
}
.btn-displayForm {
  position: fixed;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
  color: var(--green);
}
.form-container {
  padding: 30px;
  margin: 30px;
  border-radius: 10px;
  border: var(--green) 3px solid;
}
.form-container form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 40px;
}
.form-container form div {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.form-container form input {
  background-color: #f0f0f0;
  display: inline;
  position: relative;
  padding: 25px;
  margin-bottom: 5px;
  border-radius: 10px;
}
.form-select {
  width: 100%;
}
.form-container form button {
  width: 150px;
  margin: 5px;
  background-color: var(--green);
  border: var(--light) 1px solid;
  border-radius: 10px;
  color: var(--dark);
  text-transform: uppercase;
  padding: 20px 0;
  line-height: 2;
  cursor: pointer;
}
.form-container form button:hover {
  transform: scale(0.98);
  background-color: var(--dark);
  border: var(--green) 1px solid;
  color: var(--green);
}

/* search / filter */
.search-filter {
  color: var(--light);
  border-radius: 10px;
  margin: 80px 0 10px 0;
  text-align: center;
}
.filter-container h3 {
  margin: 40px 0 0 0;
}
.filter {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.filter-asc,
.filter-desc {
  height: 50px;
  width: 90px;
  background-color: var(--dark);
  border: var(--green) 1px solid;
  border-radius: 10px;
  color: var(--green);
  text-transform: uppercase;
  padding: 0;
}
.filter-asc {
  margin-right: 10px;
}
.filter-asc:hover,
.filter-desc:hover {
  transform: scale(0.98);
  background-color: var(--btnDark);
  border: var(--green) 1px solid;
  color: var(--green);
}
.search-input {
  background-color: var(--btnLight);
  display: inline;
  position: relative;
  border-radius: 10px;
  border: var(--green) 3px solid;
  height: 30px;
  margin-top: 40px;
  text-align: center;
}

/* todo */
.todo-list {
  color: var(--light);
  width: 70%;
  margin: 0 auto;
  padding: 25px;
  border-radius: 15px;
  text-align: center;
}
.todo {
  border: var(--green) 3px solid;
  border-radius: 10px;
  padding: 5px;
  margin: 0 0 30px 0;
  display: flex;
  justify-content: space-between;
}
.todo-isCompleted {
  text-decoration: line-through;
  opacity: 50%;
}
.todo-category {
  text-transform: uppercase;
  text-align: start;
  color: var(--green);
  margin: 0;
  padding-left: 10px;
}
.todo-task {
  font-size: 1.25rem;
  padding: 5px 15px;
}
.btn-check, .btn-trash {
  background-color: transparent;
  border: none;
  margin: 10px;
  display: flex;
  align-items: center;
}
.btn-check:hover, .btn-trash:hover {
  transform: scale(0.95);
  cursor: pointer;
}
.btn-check-isCompleted {
  opacity: 2;
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
}

/*********** light mode ***********/
.white-content {
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--light);
}
.white-content .title {
  color: var(--purple);
}
.white-content .pleaseLogin {
  background: linear-gradient(110deg,rgba(91,8,136,1 )20%, rgb(149, 63, 195)90%);
  color: var(--btnLight);
}
.white-content .filter-select,
.white-content .form-select {
  background-color: var(--light);
  color: var(--purple);
  border: var(--purple) 1px solid;
}

/* login/register btn */
.white-content .login-register-div button, .white-content .logout-btn {
  background-color: var(--purple);
  box-shadow: 2px 1px var(--purple);
  color: var(--light);
  border: 2px solid var(--purple);
}
.white-content .login-register-div button:nth-child(2) {
  background-color: var(--light);
  color: var(--btnDark);
}
.white-content .login-register-div button:hover, .white-content .logout-btn:hover {
  background-color: var(--light);
  color: var(--purple);
}

/* form */
.white-content .btn-displayForm {
  color: var(--purple);
}
.white-content .form-container {
  border: var(--purple) 3px solid;
}
.white-content .form-input {
  border: var(--purple) 1px solid;
}
.white-content .form-container form button {
  background-color: var(--purple);
  color: var(--light);
}
.white-content .form-container form button:hover {
  background-color: var(--light);
  color: var(--purple);
  border: var(--purple) 1px solid;
}

/* search / filter */
.white-content .filter-container {
  color: var(--dark);
}
.white-content .filter-select {
  border: var(--purple) 1px solid;
  color: var(--purple);
}
.white-content .filter-asc,
.white-content .filter-desc {
  background-color: var(--light);
  border: var(--purple) 1px solid;
  color: var(--purple);
}
.white-content .filter-asc:hover,
.white-content .filter-desc:hover {
  background-color: var(--purple);
  border: var(--dark) 1px solid;
  color: var(--light);
}
.white-content .search-input {
  background-color: #f0f0f0;
  border: var(--purple) 1px solid;
}

/* todo */
.white-content .todo-list {
  color: var(--dark);
}
.white-content .todo {
  background-color: #f0f0f0;
  border: var(--purple) 3px solid;
}
.white-content .todo-category {
  color: var(--purple);
}
